.table-price-single {
	.entry {
		margin-bottom: 0;
	}

	.page-title {
		margin-bottom: 24px;
	}

	.price-table {
		table {
			width: 85%;
		}
	}

	.inner-factors {
		padding: 12px;
		background: #FAFAFB;
		border-radius: 12px;
		margin-bottom: 24px;

		.inner-number {
			font-size: 43px;
			color: #BBBBBB;
			font-weight: 700;
			margin-bottom: 10px;
		}

		.inner-text {
			font-weight: 700;
			padding-bottom: 8px;
			position: relative;
			margin-bottom: 16px;
			font-size: 16px;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 40%;
				border-bottom: 1px solid $color_main_2;
			}
		}

		.inner-desc {
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
			overflow: hidden;
			display: -webkit-box;
		}
	}

	.list-table-brands {
		.table-brand-name {
			font-size: 20px;
			font-weight: 700;
		}

		.table-brand-address {
			margin-bottom: 17px;
		}

		.fa-map-marker {
			color: $color_main_2;
			font-size: 14px;
		}

		.table-brand-desc {
			margin-bottom: 24px;
		}

		table {
			width: 100%;
		}
	}

	.list-doctors-table {
		position: relative;
		margin-bottom: 100px;

		.inner {
			box-shadow: 0 0 6px rgba($color: #D6B2FF, $alpha: 0.5);
			border-radius: 25px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;
		}

		.post-ranks {
			padding: 17px 16px 17px 16px;
			width: 75%;
		}

		.list-status {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}

		.post-thumbnail {
			margin-bottom: 0;
		}

		.point-rank {
			border-top-right-radius: 25px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 25px;
		}

		.list-more {
			margin-bottom: 0;
		}

		.load-more {
			bottom: -60px;
			height: 180px;
		}
	}

	.entry-content-bottom {
		margin-bottom: 50px;
	}

	.list-affecting {
		.slick-dotted {
			.slick-slider {
				margin-bottom: 50px;
			}
		}

		.slick-dots {
			li {
				margin-left: 0 4px;

				button {
					&::before {
						font-size: 10px;
					}
				}
			}

			.slick-active {
				button {
					&::before {
						opacity: 1;
						color: $color_main_2;
					}
				}
			}
		}
	}

	@media (max-width:575px) {
		.list-doctors-table {
			.inner {
				display: block;
			}

			.post-ranks {
				width: 100%;
				padding-right: 16px;
			}

			.post-meta {
				overflow: auto;
			}

			.post-thumbnail {
				width: 100px;
				aspect-ratio: 1;
			}

			.number-rank {
				padding: 2px 10px;
			}

			.point-rank {
				border-top-right-radius: 0;
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
			}

			.list-status {
				flex-direction: row;
				justify-content: center;
			}
		}
	}
}