.toplist-faq {
	background: #F8F8F8;
	padding: 50px 0;

	.faq-title {
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 28px;
	}

	.item-faq {
		border: 1px solid #E8D1FF;
		box-shadow: 0 0 20px rgba($color: #D6B2FF, $alpha: 0.09);
		width: 60%;
		padding: 14px 7px;
		border-radius: 8px;
		background: $light;
		margin-bottom: 12px;

		.faq-btn {
			font-weight: 700;
			color: $color_main_2;
			display: block;
			width: 100%;
			position: relative;

			&::after {
				content: '\f0dd';
				font-family: 'FontAwesome';
				position: absolute;
				right: 0;
				font-size: 30px;
				transform: translateY(-30%);
			}
		}

		.collapse-content {
			border: none;
			border-top: 1px solid #F1F1F1;
		}

		.active-faq {
			padding-bottom: 12px;

			&::after {
				content: '\f0de';
				font-family: 'FontAwesome';
				position: absolute;
				right: 0;
				font-size: 30px;
				transform: unset;
			}
		}
	}
}